.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #007bff;
}

.logo {
  color: rgb(255, 255, 255);
  user-select: none;
}

.nav a {
  user-select: none;
  margin-left: 20px;
  color: rgb(14, 14, 14);
  text-decoration: none;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  padding: 8px 12px;
  border-radius: 8px;
}
